body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Monteserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    line-height: 1.5;
}
/* Cabeçalho */

#title {
    background-color: #051d35;
    color: #ffff;
    z-index: 1;
    position: relative;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 15px;
    font-weight: lighter;
}

/* Banner */

.container-fluid {
    padding: 3% 15% 15%;
}

#h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
}


.title-image {
    width: 65%;
    transform: rotate(34deg);
    position: absolute;
    z-index: -1;
    left: 18%;
}

/* Seção com icones */

.icone {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

#features {
    padding: 7% 15%;
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icone:hover {
    color: #ff4c68;
}


/* Sessão-Carrossel de Depoimentos */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #ffff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}
.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  opacity: 0.35;
  transition: opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}

/* Tamanho das setas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 18px;
  height: 18px;
}
.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
}

/*FIM CARROSSEL*/

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* Site Responsivo */

@media (max-width: 1028px) {

    #title {
        text-align: center;
        margin-bottom: -90px;
    }

    .title-image {
        margin-top: 20px;
        position: static;
        transform: rotate(0deg);
    }
}

/* Site Responsivo Fim */

#cta {
    text-align: center;
    background-color: #051d35;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffff;
    padding-top: 150px;
    padding-bottom: 150px;
}

#cta h3{
    font-size: 4rem;
}
.btn01 {
    margin-right: 7.5px;
}

.btn02 {
    margin-left: 7.5px;
}

#footer {
    text-align: center; 
    padding-top: 75px;
    padding-bottom: 75px;
}

.icons-footer {
    margin: 0 5px 0 5px;
}